<div id='navigation' class='navigationgate'>
    <a id='homenavimage' href='/'><img class='navhomeimage' src='../images/cloud-computing.png' alt=''></a>
    <div class='burger' onclick='changeBurger(this);mobileNavMap(this);'>
        <div class='bar1'></div>
        <div class='bar2'></div>
        <div class='bar3'></div>
    </div>
    <div class='mobilenavigation'>
        <div class='navigation'>
            <div>
                <a href='/' title=''>{{ link1 }}</a>
                <a href='/contact' title=''>{{ link2 }}</a>
                <a href='/what-we-do' title=''>{{ link3 }}</a>
            </div>
        </div>
    </div>
</div>