<!DOCTYPE html>
<html>
  <head>

    <title>{{webtitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- Landscape Stylesheets --}}

    <link rel="stylesheet" media="screen and (min-width: 790px)" href="/stylesheets/widths/wide.css">
    <link rel="stylesheet" media="screen and (min-width: 790px)" href="/stylesheets/navigation/navigation.css">

    {{!-- Mobile Stylesheets --}}

    <link rel="stylesheet" media="screen and (max-width: 790px)" href="/stylesheets/widths/mobile.css">
    <link rel="stylesheet" media="screen and (max-width: 790px)" href="/stylesheets/navigation/mobilenavigation.css">

    {{!-- Normal Stylesheets --}}

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/warning.css' />
    <link rel='stylesheet' href='/stylesheets/card.css' />
    <link rel='stylesheet' href='/stylesheets/404.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css'>

    {{!-- Fonts --}}

    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet">

    {{!-- Favicon --}}

    <link rel="apple-touch-icon" sizes="180x180" href="../images/cloud-computing.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/cloud-computing.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/cloud-computing.png">
    {{!-- <link rel="manifest" href="../images/favicon/site.webmanifest"> --}}

  </head>
  <body>
    {{{body}}}

    <script type='text/javascript' src='javascripts/script.js'></script>
    <script type='text/javascript' src='javascripts/typetext.js'></script>
    <script type='text/javascript' src="javascripts/mobilenavigation.js"></script>
  </body>
</html>
