<div class="navigationgate">
    <a href="/"><img class='navhomeimage' src='../images/favicon/android-chrome-512x512.png' alt=''></a>
    <div class='navigation'>
        <ul>
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/examples">Examples</a></li>
        </ul>
    </div>
</div>
<div>
    <div class='sidepadding' style='float:left'><p>Dont mind me here</p></div>
    <div class='sidepadding' style='float:right'><p>Dont mind me here</p></div>
    <div class='card'>
        <div>
            <h1>Price $</h1></p>
            <hr>
            <div>
                <ul>
                    <li>Initial Startup</li>
                    <li>tehee1</li>
                    <li>tehee2</li>
                </ul>
            </div>
        </div>
        <div>
                <h1>Price $$</h1>
            <hr>
            <div>
                <ul>
                    <li>Initial Startup</li>
                    <li>Hosted Online</li>
                    <li>Tehee</li>
                </ul>
            </div>
        </div>
        <div>
            <h1>Price $$$</h1>
            <hr>
            <div>
                <ul>
                    <li>Initial Startup</li>
                    <li>Hosted Online</li>
                    <li>Maintained Daily</li>
                    <li>Latest Security Updates</li>
                    <li>Uses Lastest Software Developed</li>
                    <li>Server Migration</li>
                    <li>Daily Backups</li>
                </ul>
            </div>
        </div>
    </div>
</div>