<div class="navigationgate">
    <a href="/"><img class='navhomeimage' src='../images/favicon/android-chrome-512x512.png' alt=''></a>
    <div class='navigation'>
        <ul>
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/examples">Examples</a></li>
        </ul>
    </div>
</div>